<section class="cover-div">
    <!-- <div class="header"></div> -->
    <div class="container-fluid">
        <div class="return-back"><button onclick="window.history.back();"><fa-icon [icon]="iconBack"></fa-icon></button></div>
        <div class="row" style="height: 100vh;">
            <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12" style="text-align: center; padding: 50px 0px 25px 0px; background-color: #f9f9f9; ">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
            </div>
            <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12" style="background-color: #FFF0C2; padding: 25px 25px 25px 25px;">

                <h5 class="font-weight-bold text-center">{{detailsObj.name | uppercase}}</h5>
                <div style="padding-top: 25px; padding-bottom: 25px;" class="text-justify">
                    <div *ngIf="detailsObj.description != null; else noDesc">
                        <span style="font-size: 13px;" [innerHTML]="detailsObj.description" >
                            
                        </span>
                    </div>

                    <ng-template #noDesc>
                        <span style="font-size: 13px;">
                            No provided description
                        </span>
                    </ng-template>
                    
                    
                </div>
                <!-- variant option  -->
                <fieldset id="{{variant.name}}" *ngFor="let variant of detailsObj.productVariants; let i = index;" style="margin-top: 15px;">
                    <div class="row">
                        <div class="col">
                            <label for="{{variant.name}}" style="font-weight: bold; font-size: 12px;">{{variant.name | uppercase}} : </label>
                        </div>
                       
                    </div>

                    <div class="row text-center">
                        <div class="col text-center">
                            <ul class="donate-now">
                                <li *ngFor="let option of variant.productVariantsAvailable; let i = index;">
                                    <input type="radio" 
                                    id="{{variant.name + i}}" 
                                    value="{{option.value}}" 
                                    name="{{variant.name}}" 
                                    [checked]="currentVariant.indexOf(option.id) > -1"
                                    (change)="onChangeVariant(option.id, variant.name, option.productId)"
                                    >
                                    <label for="{{variant.name + i}}">{{option.value}}</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </fieldset>

                <div class="row" style="margin-top: 50px; margin-bottom: 50px;">
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 text-center">
                        <h5 class="font-weight-bold">PRICE : {{currencySymbol}} {{ productPrice | number: '1.2-2' }}</h5>
                        <!-- <br> -->
                        
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                        <form action="
                        ">
                            <ng-number-picker 
                            name="inputQty" 
                            [(ngModel)]="inputQty" 
                            [(value)]="inputQty" 
                            [min]="1" [max]="100" 
                            [postfix]="'unit'" 
                            [size]="'sm'"></ng-number-picker>
                        </form>
                        <!-- <button type="button" class="btn btn-warning btn-block">Add to Cart</button> -->
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <div class="form-group">
                            <label for="instruction">Special Instruction</label>
                            <textarea name="addToInstruction" [(ngModel)]="addToInstruction" [(value)]="addToInstruction" class="form-control form-control-lg" id="instruction" aria-describedby="instruction" cols="30" rows="4" style="font-size: 12px;"></textarea>
                            <!-- <input type="text" name="addToInstruction" [(ngModel)]="addToInstruction" [(value)]="addToInstruction" class="form-control form-control-lg" id="instruction" aria-describedby="instruction"> -->
                            <!-- <small id="emailHelp" class="form-text text-muted">Example ("extra mayonnaise, extra spicy, cut in half and etc...")</small> -->
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col">
                        <button (click)="addToCart(productPrice)" type="button" class="btn btn-warning btn-sm btn-block">
                            Add to Cart&nbsp;<fa-icon [icon]="iconAddItem"></fa-icon>
                        </button>
                    </div>
                    <div class="col">
                        <!-- <button type="button" class="btn btn-success btn-sm btn-block">Next&nbsp;<fa-icon [icon]="iconBag"></fa-icon></button> -->
                        <button (click)="goToCheckout()" type="button" class="btn btn-info btn-sm btn-block">
                            CHECKOUT&nbsp;<fa-icon [icon]="iconBag"></fa-icon> &nbsp;
                            <span class="badge badge-danger">{{cartLength}}</span>
                            <!-- <span class="sr-only">unread messages</span> -->
                        </button>
                    </div>
                </div>
                
            </div>
            <!-- <div class="col-4" style="background-color: yellowgreen; height: 50px;"></div> -->
        </div>
    </div>
</section>

