/* slider */
.demo-border {
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    border: 1px solid;
    border-color: #CFCFCF;
    margin-bottom: 20px;
  }

#category-section{
    padding-top: 40px;
}

.category{
    width: 150px;
    /* background-color: #f9f9f9; */
    color: #333;
    font-weight: bold;
    
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    /* background-image: url('/assets/image/banner-sample4.jpg'); */
}

/* div#test div:first-child {margin-left: 50px;} */

/* .category > div:first-child {
    margin-right: 50px;
  } */

.category:hover{
    background-color: #FFF9D6;
    background-blend-mode: multiply;
    cursor: pointer;
}

drag-scroll-item{
    -ms-overflow-style: none !important; 
    scrollbar-width: none !important;
    overflow-x: hidden !important;
}

drag-scroll-item::-webkit-scrollbar {
    /* display: none !important; */
    width: 2px !important;
}

drag-scroll-item::-webkit-scrollbar-track {
    background: orange;
  }

.img-icon{
    border-radius: 5px; 
    border-radius: 5px; 
    width: 82px; 
    height: 82px;
}

.footer {
    background: #ffb347;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    border-top: 1px solid rgb(207, 136, 3);
    /* border-top-left-radius: 10px; */
    /* border-top-right-radius: 10px; */
}   

/* slider test  */
  .scrollmenu {
    /* background-color: #333; */
    overflow: auto;
    white-space: nowrap;
  }

    .scrollmobi::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .scrollmobi {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

  #test {
    display: inline-block;
    color: black;
    text-align: center;
    /* padding: 14px; */
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
  }

  .scrollmenu{
      height: 85% !important;
  }

   .chapter{
    border: 1px solid #ffe259;
   }

  .chapter:hover{
	color: black;
	/* background-color: rgba(209, 53, 49, .8); */
	

	background: url('/assets/image/vector2.jpg'), linear-gradient(#ffce9c, #FFF8D6);
	/*background: url('../img/quran.png'), linear-gradient(#eb01a5, #d13531);*/
  	background-position: center center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	opacity: 1;

  	background-blend-mode: multiply;
}

.btnAddtoCart{
    text-align: center; 
    height: 40px; 
    padding-top: 5.5%; 
    cursor: pointer; 
    border: 2px solid #CC9900;
}

.btnSeeMore{
    text-align: center; 
    height: 40px; 
    padding-top: 5.5%; 
    border: 2px solid #55A630; 
    background-color: #97D91C; 
    cursor: pointer;
}

.fontsizer{
    font-size: 13px;
}


/* open cart item details  */

.iconStyle{
    font-size: 15px; color: red;
}

.qtyIcon{
    color: #6c757d;
}

.qtyIcon:hover{
    color: #343a40;
    cursor: pointer;

}

.hover:hover{
    background-color: #FFF9D6;
}


/* for mobile */
@media (min-width: 992px) {
    .modal-dialog {
        max-width: 50%;
    }
}


/*Mobile Section*/
@media (max-width: 767px) {
    .bg-image-full {
        height: 100px;
    }

    .search-bar{
        margin-top: 20px;
    }

    .btnSeeMore{
        margin-top: 10px;
        padding-top: 2.5%; 
    }

    .btnAddtoCart{
        padding-top: 2.5%; 
    }

    .footerfont{
        font-size: 11px;
    }

    .cartlistm{
        border: 1px solid black; 
        border-radius: 0; 
        margin-right: 20px;
        padding: 10px;
    }
    
    .nextm{
        border: 1px solid black; 
        border-radius: 0; 
        background-color: #A9E538;
        padding: 10px;
        width: 88px;
    }

}

@media (max-width: 376px){
    .cartlistm{
        margin-right: 10px !important;
        padding: 5px !important;
        margin-top: 3px;
        height: 35px;
    }
    
    .nextm{
        padding: 5px !important;
        width: 88px !important;
        margin-top: 3px;
        height: 35px;
    }
}

/*Mobile S Section*/
@media (max-width: 321px) {

    .fontsizer{
        font-size: 12px;
    }

    .btnSeeMore{
        margin-top: 10px;
        padding-top: 2.5%; 
    }

    .cartlistm{
        margin-right: 0px !important;
        margin-bottom: 5px !important;
        /* padding: 5px !important; */
        margin-top: 0px !important;
        height: 30px !important;
        width: 100px !important;
        /* position: relative; */
        float: right;
    }
    
    .nextm{
        /* padding: 5px !important; */
        width: 100px !important;
        margin-top: 0px !important;
        height: 30px !important;
        /* right: 0; */
        /* position: relative; */
        float: right;
    }

    .removepadding{
        padding-top: 5px !important;
    }

    .fontmobile_s{
        font-size: 12px !important;
        font-weight: bold !important;
    }

    .footer{
        height: 75px !important;
    }

}
  