/* slider */
.demo-border {
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    border: 1px solid;
    border-color: #CFCFCF;
    margin-bottom: 20px;
  }

#category-section{
    padding-top: 40px;
}

.category{
    width: 150px;
    /* background-color: #f9f9f9; */
    color: #333;
    font-weight: bold;
    
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    /* background-image: url('/assets/image/banner-sample4.jpg'); */
}

/* div#test div:first-child {margin-left: 50px;} */

/* .category > div:first-child {
    margin-right: 50px;
  } */

.category:hover{
    background-color: #cccccc;
    background-blend-mode: multiply;
    cursor: pointer;
}

drag-scroll-item{
    -ms-overflow-style: none !important; 
    scrollbar-width: none !important;
    overflow-x: hidden !important;
}

drag-scroll-item::-webkit-scrollbar {
    /* display: none !important; */
    width: 2px !important;
}

drag-scroll-item::-webkit-scrollbar-track {
    background: orange;
  }

/*Mobile Section*/
@media (max-width: 767px) {
    .bg-image-full {
        height: 100px;
    }

}

.img-icon{
    border-radius: 5px; 
    border-radius: 5px; 
    width: 82px; 
    height: 82px;
}

.footer {
    background: orange;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    border-top: 1px solid rgb(207, 136, 3);
    /* border-top-left-radius: 10px; */
    /* border-top-right-radius: 10px; */
}   


/*Mobile Section*/
@media (max-width: 767px) {
    .search-bar{
        margin-top: 20px;
    }
}