<!-- <div id="scrollable"> -->

<!-- Slider Desktop  -->
<div class="d-none d-sm-none d-md-block d-lg-block d-xl-block">
    <!-- category slider one normal horizontal slider with more smooth behaviour-->
    <div class="container" id="category-section" style="padding-top: 50px;">
        <div class="row" >
            <div class="scrollmenu" id="scrollable2">
                <div id="test" *ngFor="let item of categories; let i = index;">
                    <div class="card" style="border: none; background-color: transparent; height: 150px;">

                        <div (click)="onGetCategoriesItem(item.id)" *ngIf="item.thumbnailUrl; else noImage" class="card-body category shadow-sm" style="margin: 0px; border-radius: 5px; width: 150px; height: 150px; border: 1px solid #ffe259;" [ngStyle]="{'background-image': 'url('+ item.thumbnailUrl +')'}">
                            <span style="margin: 35px;"></span>
                        </div>

                        <ng-template #noImage>
                            <div class="card-body category shadow-sm" style="margin: 0px; border-radius: 5px; width: 150px; height: 150px;" [ngStyle]="{'background-image': 'url(/assets/image/noimage2.jpg)'}">
                                <span style="margin: 35px;"></span>
                            </div>
                        </ng-template>
                        
                        <span class="text-center" id="price" style="margin: 5px; font-size: 13px; color: black; font-weight: bold;">{{ item.name }}</span>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>

<!-- Slider Mobile  -->
<div class="d-block d-sm-block d-md-none d-lg-none d-xl-none">
    <!-- category slider one normal horizontal slider with more smooth behaviour-->
    <div class="container" id="category-section" style="padding-top: 50px;">
        <div class="row" >
            <div class="scrollmenu scrollmobi">
                <div id="test" *ngFor="let item of categories; let i = index;">
                    <div class="card" style="border: none; background-color: transparent; height: 150px;">

                        <div (click)="onGetCategoriesItem(item.id)" *ngIf="item.thumbnailUrl; else noImage" class="card-body category shadow-sm" style="margin: 0px; border-radius: 5px; width: 150px; height: 150px; border: 1px solid #ffe259;" [ngStyle]="{'background-image': 'url('+ item.thumbnailUrl +')'}">
                            <span style="margin: 35px;"></span>
                        </div>

                        <ng-template #noImage>
                            <div class="card-body category shadow-sm" style="margin: 0px; border-radius: 5px; width: 150px; height: 150px;" [ngStyle]="{'background-image': 'url(/assets/image/noimage2.jpg)'}">
                                <span style="margin: 35px;"></span>
                            </div>
                        </ng-template>
                        
                        <span class="text-center" id="price" style="margin: 5px; font-size: 13px; color: black; font-weight: bold;">{{ item.name }}</span>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>




<!-- category slider using plugin-->
<!-- <div class="container" id="category-section" style="padding-top: 50px;">
    <div class="row">
        <drag-scroll
        drag-scroll-y-disabled="false"
        scroll-x-wheel-enabled="true"
        (dsInitialized)="onDragScrollInitialized()"
        (indexChanged)="onIndexChanged($event)"
        (reachesLeftBound)="leftBoundStat($event)"
        (reachesRightBound)="rightBoundStat($event)"
        (snapAnimationFinished)="onSnapAnimationFinished()"
        (dragStart)="onDragStart()"
        (dragEnd)="onDragEnd()" 
        class="hide-scroll">
            <div drag-scroll-item id="test" style="padding: 10px;" *ngFor="let item of categories; let i = index;">
                <div class="card" style="border: none; background-color: transparent;">
                    <div class="card-body category shadow-sm" style="margin: 0px; border-radius: 10px;" [ngStyle]="{'background-image': 'url(/assets/image/' + item.img + ')'}">
                    <span style="margin: 35px;"></span>
                    </div>
                    <span class="text-center" style="margin: 5px; font-size: 13px;">{{ item.category }}</span>
                </div>
            </div>        
        </drag-scroll>
    </div>
</div> -->


<div class="container" style="padding-top: 20px; padding-bottom: 100px;">
    <div class="row">
        <div class="col-lg-9 col-sm-12 col-md-12 col-xs-12">
            <h4>PRODUCT LIST</h4>
        </div>
        <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12">
            <!-- <button (click)="initOrder()">TEST</button> -->
            <input type="text" class="form-control search-bar" style="border-radius: 5px;" placeholder="search">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4" *ngFor="let item of product; let i = index;">
            <div class="card shadow-sm chapter" style="border-radius: 5px; margin-bottom: 15px; transition: 800ms;">
                <div class="card-body" style="font-size: 13px;">
                    <div class="row">
                        <div class="col-4">
                            <div *ngIf="(item.thumbnailUrl); else noImage">
                                <img class="card-img-top img-icon" src="{{ item.thumbnailUrl }}" alt="Card image cap">
                            </div>
                            <ng-template #noImage>
                                <img class="card-img-top img-icon" src="assets/image/noimage.jpg" alt="Card image cap">
                            </ng-template>
                        </div>
                        <div class="col-8 text-right">
                            <h6 class="card-title">{{ item.name | titlecase}}</h6>
                            <!-- <h5 id="price">RM {{ item.productInventories[0].price | number: '1.2-2'}}</h5> -->
                            <div *ngFor="let data of catalogueList">
                                <h5 *ngIf="item.id == data.productId; else noPrice" id="price">RM {{ data.price === 0  ? "0.00" : data.price  | number: '1.2-2'}}</h5>
                            </div>
                        </div>
                        <!-- <div class="col-8 text-right">
                            <h5 class="card-title">{{ item.name | titlecase}}</h5>
                            <div *ngFor="let data of priceObj">
                                <h5 *ngIf="item.id == data.product_id; else noPrice" id="price">{{ data.minPrice === 0 ? "N/A" : "RM " + data.minPrice }}</h5>
                            </div>
                        </div> -->
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div *ngFor="let data of catalogueList">
                                <div *ngIf="item.id == data.productId" (click)="addToCart($event, item.id, data.itemCode, 1)" class="bg-warning rounded btnAddtoCart">
                                    <span style="vertical-align: middle;">Add to cart &nbsp;<fa-icon [icon]="iconCart"></fa-icon></span>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12"></div> -->
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="rounded btnSeeMore" (click)="onGetDetails(item.id)" data-toggle="modal" data-target="#modalProduct">
                                <span style="vertical-align: middle;">See more &nbsp;<fa-icon [icon]="iconEye"></fa-icon></span>
                            </div>
                        </div>
                        <!-- <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
                            <a class="btn btn-sm btn-warning fontsizer" style="max-width: 125px;">
                                Add to cart &nbsp;<fa-icon [icon]="iconCart"></fa-icon>
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
                            <a class="btn btn-sm btn-success fontsizer" style="max-width: 125px;" (click)="onGetDetails(item.id)" data-toggle="modal" data-target="#modalProduct">
                                See more &nbsp;<fa-icon [icon]="iconEye"></fa-icon>
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="col" *ngIf="product.length < 1">
            <div class="alert alert-warning" role="alert">
                Product Not Found!
            </div>
        </div>
        
    </div>
</div>



<!-- update 20210401  -->
<!-- to combine instead of splitting component to get dynamic response between modal & catalogue view -->

<!-- <app-modal-product 
[details]="details"
[detailPrice]="detailPrice"
[galleryImagesInit]="galleryImagesInit"
></app-modal-product> -->

<!-- Product Modal Popup -->
<div class="modal fade" id="modalProduct" tabindex="-1" role="dialog" aria-labelledby="modalProduct" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{ detailsObj.name | titlecase }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- <form (submit)="checkQuantity()"> -->
            <form (submit)="addToCart($event, detailsObj.id, popupItemCode, 2)">
                <div class="modal-body">

                    <!-- Destop/Tablet Layout -->
                    <div class="d-none d-sm-none d-md-block d-lg-block d-xl-block">
                        <div class="row">
                            <div class="col-6 text-center">
                                <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                                <!-- <img class="card-img-top img-icon" src="{{ detailsObj.thumbnailUrl }}" alt="Card image cap"> -->
                            </div>
                            <div class="col-6 text-center">
                                <!-- <p>{{ detailsObj.desc }} </p> -->
                                <div class="row" *ngFor="let item of detailsObj.productVariants; let i = index;" style="padding-bottom: 10px;">
                                    <p style="margin-left: 10px;">{{ item.name }} : </p>

                                    <p class="badge badge-light btn-outline-info border border-info" 
                                    *ngFor="let option of item.productVariantsAvailable;" 
                                    style="margin-left: 10px; padding: 10px; cursor: pointer;">
                                    {{ option.value | uppercase}}</p>
                                </div>

                                <!-- <div class="row">
                                    Item Code : {{popupItemCode}}
                                </div> -->
                            
                                <div style="padding-top: 70px;">
                                    <!-- <h5 id="price">PRICE : RM {{ detailPrice | number: '1.2-2'}}</h5> -->
                                    <h5>PRICE : RM {{ popupPrice | number: '1.2-2' }}</h5>
                                    <ng-number-picker name="inputQty" [(ngModel)]="inputQty" [(value)]="inputQty" [min]="0" [max]="100" [postfix]="'unit'" [size]="'sm'"></ng-number-picker>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <!-- Mobile Layout -->
                    <div class="d-block d-sm-block d-md-none d-lg-none d-xl-none">
                        <div class="row">
                            <div class="col text-center">
                                <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                                <!-- <img class="card-img-top img-icon" src="{{ detailsObj.thumbnailUrl }}" alt="Card image cap"> -->
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col text-center" style="padding-top: 20px;">
                                <!-- <p>{{ detailsObj.desc }} </p> -->
                                <div class="row" *ngFor="let item of detailsObj.productVariants; let i = index;" style="padding-bottom: 10px;">
                                    <p style="margin-left: 10px;">{{ item.name }} : </p>

                                    <p class="badge badge-light btn-outline-info border border-info" 
                                    *ngFor="let option of item.productVariantsAvailable;" 
                                    style="margin-left: 10px; padding: 10px; cursor: pointer;">
                                    {{ option.value | uppercase}}</p>
                                </div>

                                <!-- <div class="row">
                                    Item Code : {{popupItemCode}}
                                </div> -->
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col text-center">
                                <div style="padding-top: 20px;">
                                    <!-- <h5>PRICE : {{ price }}</h5> -->
                                    <h5 id="price">PRICE : RM {{ popupPrice | number: '1.2-2'}}</h5>
                                    <ng-number-picker name="inputQty" [(ngModel)]="inputQty" [(value)]="inputQty" [min]="0" [max]="100" [postfix]="'unit'" [size]="'sm'"></ng-number-picker>
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><fa-icon [icon]="iconBack"></fa-icon>&nbsp;Close</button>
                    <button type="submit" class="btn btn-warning">Add to cart&nbsp;<fa-icon [icon]="iconCart"></fa-icon></button>
                    <!-- <button type="submit" class="btn btn-warning" >check Quantity&nbsp;<fa-icon [icon]="iconCart"></fa-icon></button> -->
                </div>

            </form>
            
        </div>
    </div>
</div>


<!-- update 20210401  -->
<!-- to combine instead of splitting component to get dynamic response between modal & catalogue view -->

<!-- cart modal -->
<!-- <app-modal-cart
[cartitemDetails]="cartitemDetails"
></app-modal-cart> -->

<!-- Desktop & Tablet view -->
<div class="modal fade" id="modalCart" tabindex="-1" role="dialog" aria-labelledby="modalCart" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Cart List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="scrollable3">
                
                <!-- Destop/Tablet Layout -->
                <div class="col" *ngIf="cartitemDetails.length < 1">
                    <div class="alert alert-danger" role="alert">
                        Cart Empty!
                    </div>
                </div>

                <div class="d-none d-sm-none d-md-block d-lg-block d-xl-block" style="padding-top: 30px; padding-bottom: 30px;">
                    <div class="card hover" style="margin-bottom: 10px; border-color: #ffe259;" *ngFor="let item of cartitemDetails; let i = index;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-1">
                                    <span>{{ i + 1 }}.&nbsp;</span>
                                </div>
                                <div class="col-4 text-left">
                                    <div *ngFor="let product of product">
                                        <span *ngIf="item.productId == product.id" style="font-weight: bold; font-size: 13px;">{{product.name | uppercase }}</span>
                                    </div>
                                </div>
                                <!-- <div class="col-4 text-left" *ngFor="let product of product">
                                    <span *ngIf="item.productId == product.id" style="font-weight: bold; font-size: 10px;">{{product.name | uppercase }}</span>
                                </div> -->
                                <div class="col-3 text-center">
                                    <span>
                                        <fa-icon [icon]="iconMinus" class="qtyIcon"></fa-icon>
                                    </span>
                                    <span style="margin-left: 20px; margin-right: 20px;">{{item.quantity}}</span>
                                    <span>
                                        <fa-icon [icon]="iconAdd" class="qtyIcon"></fa-icon>
                                    </span>
                                </div>
                                <div class="col-3 text-center">
                                    <div *ngFor="let inventory of allProductInventory">
                                        <span *ngIf="item.itemCode == inventory.itemCode" id="price">RM {{ item.quantity * inventory.price }}</span>
                                    </div>
                                    <!-- <span id="price">RM {{item.quantity*item.unitprice | number : '1.2-2'}}</span> -->
                                </div>
                                <div class="col-1 text-right">
                                    <button type="button" class="close" aria-label="Close">
                                        <span (click)="deleteItem(item.id, item.productId)" aria-hidden="true"><fa-icon [icon]="iconTrash" class="iconStyle"></fa-icon></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Mobile Layout -->

                <div class="d-block d-sm-block d-md-none d-lg-none d-xl-none">
                    <div class="card" style="margin-bottom: 10px;" *ngFor="let item of cartitemDetails; let i = index;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-1">
                                    <span style="font-size: 10px;">{{ i + 1 }}&nbsp;</span>
                                </div>
                                <div class="col-4 text-left">
                                    <div *ngFor="let product of product">
                                        <span *ngIf="item.productId == product.id" style="font-weight: bold; font-size: 13px;">{{product.name | uppercase }}</span>
                                    </div>
                                </div>
                                <div class="col-3 text-center">
                                    <span>
                                        <fa-icon [icon]="iconMinus" class="qtyIcon"></fa-icon>
                                    </span>
                                    <span style="margin-left: 20px; margin-right: 20px;">{{item.quantity}}</span>
                                    <span>
                                        <fa-icon [icon]="iconAdd" class="qtyIcon"></fa-icon>
                                    </span>
                                </div>
                                <div class="col-3 text-center">
                                    <div *ngFor="let inventory of allProductInventory">
                                        <span *ngIf="item.itemCode == inventory.itemCode" id="price">RM {{ item.quantity * inventory.price }}</span>
                                    </div>
                                    <!-- <span id="price">RM {{item.quantity*item.unitprice | number : '1.2'}}</span> -->
                                </div>
                                <div class="col-1 text-right">
                                    <button type="button" class="close" aria-label="Close">
                                        <span (click)="deleteItem(item.id, item.productId)" aria-hidden="true"><fa-icon [icon]="iconTrash" class="iconStyle"></fa-icon></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Clear cart</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Back</button>
            </div>
        </div>
    </div>
</div>




<!-- footer desktop -->
<div class="d-none d-sm-none d-md-block d-lg-block d-xl-block">
    <div class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div style="margin-top: 15px;">
                        <h5 id="price">TOTAL: <span>MYR 0.00</span></h5>
                    </div>
                </div>
                <div class="col"></div>
                <div class="col">
                    <button (click)="initOrder()" class="btn btn-lg" style="float: right; margin: 5px; border: 1px solid black; width: 150px; border-radius: 0; background-color: #A9E538;">NEXT&nbsp;<fa-icon [icon]="iconBag"></fa-icon></button>
                    <button (click)="getCartItemDetails()" class="btn btn-warning btn-lg" style="float: right; margin: 5px; border: 1px solid black; border-radius: 0;" data-toggle="modal" data-target="#modalCart">CART LIST - <span id="price">{{cartitemDetailsCount}}</span></button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- footer mobile-->
<div class="d-block d-sm-block d-md-none d-lg-none d-xl-none">
    <div class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-5" style="margin-top: 15px;">
                    <!-- <div style="margin-top: 15px;"> -->
                        <span class="fontmobile_s" id="price" style="font-size: small;">TOTAL: <span>MYR 0.00</span></span>
                    <!-- </div> -->
                </div>
                <!-- <div class="col"></div> -->
                <div class="col-7 removepadding" style="padding-top: 10px; text-align: center;">
                    <button (click)="getCartItemDetails()" class="btn btn-warning btn-sm footerfont cartlistm" data-toggle="modal" data-target="#modalCart">CART LIST - <span id="price">{{cartitemDetailsCount}}</span></button>
                    <button (click)="initOrder()" class="btn btn-sm footerfont nextm">NEXT&nbsp;<fa-icon [icon]="iconBag"></fa-icon></button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- </div> -->

<!-- footer mobile -->
<!-- <div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">
                <button class="btn-success btn btn-sm" style="margin: 5px;">NEXT</button>
                <button class="btn btn-warning btn-sm" style="margin: 5px;">CART LIST (0)</button>
            </div>
        </div>
    </div>
</div> -->