<!-- <div id="scrollable"> -->


<!-- category slider one normal horizontal slider with more smooth behaviour-->
<div class="container" id="category-section" style="padding-top: 50px;">
    <div class="row" >
        <div class="scrollmenu" id="scrollable2">
            <div id="test" *ngFor="let item of categories; let i = index;">
                <div class="card" style="border: none; background-color: transparent;">
                    <div class="card-body category shadow-sm" style="margin: 0px; border-radius: 10px;" [ngStyle]="{'background-image': 'url(/assets/image/' + item.img + ')'}">
                    <span style="margin: 35px;"></span>
                    </div>
                    <span class="text-center" style="margin: 5px; font-size: 13px; color: black;">{{ item.category }}</span>
                </div>
            </div> 
        </div>
    </div>
</div>


<!-- category slider using plugin-->
<!-- <div class="container" id="category-section" style="padding-top: 50px;">
    <div class="row">
        <drag-scroll
        drag-scroll-y-disabled="false"
        scroll-x-wheel-enabled="true"
        (dsInitialized)="onDragScrollInitialized()"
        (indexChanged)="onIndexChanged($event)"
        (reachesLeftBound)="leftBoundStat($event)"
        (reachesRightBound)="rightBoundStat($event)"
        (snapAnimationFinished)="onSnapAnimationFinished()"
        (dragStart)="onDragStart()"
        (dragEnd)="onDragEnd()" 
        class="hide-scroll">
            <div drag-scroll-item id="test" style="padding: 10px;" *ngFor="let item of categories; let i = index;">
                <div class="card" style="border: none; background-color: transparent;">
                    <div class="card-body category shadow-sm" style="margin: 0px; border-radius: 10px;" [ngStyle]="{'background-image': 'url(/assets/image/' + item.img + ')'}">
                    <span style="margin: 35px;"></span>
                    </div>
                    <span class="text-center" style="margin: 5px; font-size: 13px;">{{ item.category }}</span>
                </div>
            </div>        
        </drag-scroll>
    </div>
</div> -->


<div class="container" style="padding-top: 20px; padding-bottom: 100px;">
    <div class="row">
        <div class="col-lg-9 col-sm-12 col-md-12 col-xs-12">
            <h4>PRODUCT LIST</h4>
        </div>
        <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12">
            <input type="text" class="form-control search-bar" style="border-radius: 10px;" placeholder="search">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4" *ngFor="let item of product">
            <div class="card shadow-sm" style="border-radius: 10px; margin-bottom: 15px;">
                <div class="card-body" style="font-size: 13px;">
                    <div class="row">
                        <div class="col-4">
                            <img class="card-img-top img-icon" src="assets/image/{{ item.image }}" alt="Card image cap">
                        </div>
                        <div class="col-8 text-right">
                            <h5 class="card-title">{{ item.title }}</h5>
                            <h5 id="price">RM {{ item.price | number : '1.2'}}</h5>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col" style="text-align: center;">
                            <a href="#" class="btn btn-sm btn-warning" style="min-width: 125px;">
                                Add to cart &nbsp;<fa-icon [icon]="iconCart"></fa-icon>
                            </a>
                        </div>
                        <div class="col" style="text-align: center;">
                            <a class="btn btn-sm btn-success" style="min-width: 125px;" (click)="onGetDetails(item.productid)" data-toggle="modal" data-target="#modalProduct">
                                See more &nbsp;<fa-icon [icon]="iconEye"></fa-icon>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<app-modal-product 
[details]="details"
></app-modal-product>

<!-- cart modal -->
<app-modal-cart></app-modal-cart>

<!-- footer desktop-->
<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div style="margin-top: 15px;">
                    <h5 id="price">TOTAL: <span>MYR 0.00</span></h5>
                </div>
            </div>
            <div class="col"></div>
            <div class="col">
                <button (click)="goTo($event)" class="btn-success btn btn-lg" style="float: right; margin: 5px; border: 1px solid black; width: 150px; border-radius: 0;">NEXT&nbsp;<fa-icon [icon]="iconBag"></fa-icon></button>
                <button class="btn btn-warning btn-lg" style="float: right; margin: 5px; border: 1px solid black; border-radius: 0;" data-toggle="modal" data-target="#modalCart">CART LIST - <span id="price">0</span></button>
            </div>
        </div>
    </div>
</div>



<!-- </div> -->

<!-- footer mobile -->
<!-- <div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">
                <button class="btn-success btn btn-sm" style="margin: 5px;">NEXT</button>
                <button class="btn btn-warning btn-sm" style="margin: 5px;">CART LIST (0)</button>
            </div>
        </div>
    </div>
</div> -->