<div class="container">
    <div class="card border-0" style="margin-top: 25px; margin-bottom: 50px; background-color: #f9f9f9;">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center border" style="background-color: white;">
                    <div class="card" style="border-radius: 0px; border: 0;">
                        <div class="card-body">
                            <div class="row" style="padding-bottom: 30px;">
                                <div class="col text-center">
                                    <span style="color: #ffb347;" id="price">CART SUMMARY</span>
                                    <!-- <hr class="dotted"> -->
                                </div>
                            </div>
                            <div style="height: 300px; overflow: scroll;" id="scrollable4">
                                <!-- <div class="row" *ngFor="let item of cartList; let i = index;"> -->
                                <div class="row" *ngFor="let item of cartitemDetails; let i = index;">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left">
                                                <span id="price" class="quantity" style="font-size: 13px;">{{item.quantity}}&nbsp;&nbsp;x&nbsp;&nbsp;</span>
                                                <!-- <span style="font-size: 13px;">{{item.productId}}</span> -->
                                                <div *ngFor="let product of product">
                                                    <span *ngIf="item.productId == product.id" style="font-weight: bold; font-size: 13px;">{{product.name | uppercase }}</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-right">
                                                <div *ngFor="let inventory of allProductInventory">
                                                    <span *ngIf="item.itemCode == inventory.itemCode" id="price">RM {{ item.quantity * inventory.price }}</span>
                                                </div>
                                                <!-- <span id="price" class="unitprice">{{item.unitprice * item.quantity | number: '1.2-2'}}</span> -->
                                            </div>
                                        </div>
                                        <hr class="nondotted">
                                    </div>
                                </div>

                                <div class="col" *ngIf="cartitemDetails.length < 1">
                                    <div class="alert alert-danger" role="alert">
                                        Cart is Empty!
                                    </div>
                                </div>
                                
                            </div>
                            

                            <div class="row" style="padding-top: 20px;">
                                <div class="col">
                                    <div class="col text-left">
                                        <span class="subtotal">SUB-TOTAL</span>
                                        <span id="price" style="float: right; padding-right: 38px;">RM {{subTotal | number: '1.2-2'}}</span>
                                        <!-- <hr class="dotted"> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="col text-left">
                                        <span class="subtotal">FEE</span>
                                        <span id="price" style="float: right; padding-right: 38px;">RM {{deliveryFee | number: '1.2-2'}}</span>
                                        <hr class="dotted">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="col text-left">
                                        <span class="subtotal" id="price" style="font-size: 15px;">GRAND TOTAL</span>
                                        <span id="price" style="float: right; padding-right: 38px; font-size: 15px;">RM {{totalPrice | number: '1.2-2'}}</span>
                                        <hr class="dotted">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1"></div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 text-center border" id="mobilespacer" style="padding: 10px; background-color: white;">
                    <!-- Now Its Working! -->
                    <div style="padding: 10px; background-color: #ffb347;">
                        <span style="font-weight: bold;">CONTACT INFORMATION</span>
                    </div>
                    <form (submit)="initOrder()" style="color: white; text-align: center; padding: 20px;" ngNativeValidate>
                        <input type="text" id="name" name="userName" [(ngModel)]="userName" [(value)]="userName" placeholder="Full name" required>
                        <br>
                        <input type="email" id="email" name="userEmail" [(ngModel)]="userEmail" [(value)]="userEmail" placeholder="Email" required>
                        <br>
                        <input type="text" id="msisdn" name="userMsisdn" [(ngModel)]="userMsisdn" [(value)]="userMsisdn" placeholder="Phone No" required>
                        <br>
                        <textarea name="userAddress" id="address" [(ngModel)]="userAddress" [(value)]="userAddress" cols="30" rows="4" placeholder="Address" required></textarea>
                        <br>
                        <input type="text" name="userPostcode" [(ngModel)]="userPostcode" [(value)]="userPostcode" (change)="getDeliveryFee()" placeholder="Postcode" required>
                        <br>
                        <input type="text" name="userCities" [(ngModel)]="userCities" [(value)]="userCities" placeholder="Cities" required>
                        <br>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                                <select name="userState" id="state" [(ngModel)]="userState" [(value)]="userState" required>
                                    <option selected="true" disabled="">States</option>
                                    <option value="Selangor">Selangor</option>
                                    <option value="Perak">Perak</option>
                                    <option value="Kelantan">Kelantan</option>
                                </select>
                            </div>
                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                                <select name="userCountries" id="countries" [(ngModel)]="userCountries" [(value)]="userCountries" required>
                                    <option selected="true" disabled="">Countries</option>
                                    <option value="Malaysia">Malaysia</option>
                                    <option value="Malaysia">Pakistan</option>
                                    <option value="Malaysia">Thailand</option>
                                </select>
                            </div>
                        </div>
 
                        <br>
                        <br>
                        <!-- <button type="button" class="btn btn-danger" style="margin-bottom: 50px;">Daftar</button> -->
                        <!-- <button (click)="goPay($event)" class="btn btn-md col-lg-4 col-md-4 col-xs-12 col-sm-12 btn-success" style="border-radius: 0;">PAY NOW &nbsp;&nbsp;<fa-icon [icon]="iconMoney"></fa-icon></button> -->

                        <!-- <button class="btn btn-md col-lg-4 col-md-4 col-xs-12 col-sm-12 btn-warning" style="border-radius: 0;">MAIN MENU &nbsp;&nbsp;<fa-icon [icon]="iconMoney"></fa-icon></button> -->
                    
                    <!-- <button (click)="checkLah()"></button> -->
                    <button type="submit" class="btn btn-md col-lg-4 col-md-4 col-xs-12 col-sm-12 btn-success" style="border-radius: 0;">PAY NOW &nbsp;&nbsp;<fa-icon [icon]="iconMoney"></fa-icon></button>
                    <!-- <button (click)="goSkip($event)" class="btn btn-md col-lg-4 col-md-4 col-xs-12 col-sm-12 btn-success" style="border-radius: 0;">PAY NOW &nbsp;&nbsp;<fa-icon [icon]="iconMoney"></fa-icon></button> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="visible">
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" 
    size = "default" 
    color = "#fff" 
    type = "square-jelly-box" 
    [fullScreen] = "true">
        <p style="color: white" > Loading... </p>
    </ngx-spinner>
</div>
