<div class="container">
    <div class="card border-0" style="margin-top: 25px; margin-bottom: 50px;">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center bg-white">
                    <div class="card bg-white border border-secondary" style="border-radius: 0px; border: 0; border-radius: 15px;">
                        <div class="card-body">
                            <div class="row" style="padding-bottom: 30px;">
                                <div class="col text-center">
                                    <span style="color: #ffb347;" id="price">CART SUMMARY</span>
                                    <!-- <hr class="dotted"> -->
                                </div>
                            </div>
                            <div class="row" *ngFor="let item of cartitemDetails; let i = index;">
                                <div class="col-9 text-left">
                                    <span id="price" class="quantity" style="font-size: 13px;">{{item.quantity}}&nbsp;x&nbsp;</span>
                                    <!-- <div *ngFor="let product of product">
                                        <span *ngIf="item.productId == product.id" style="font-weight: bold; font-size: 13px;">{{product.name | uppercase }}</span>
                                    </div> -->
                                    <span style="font-weight: bold; font-size: 13px;">{{item.productName | uppercase }}</span>
                                </div>
                                <div class="col-3 text-center">
                                    <!-- <div *ngFor="let inventory of allProductInventory">
                                        <span *ngIf="item.itemCode == inventory.itemCode" id="price">{{currencySymbol}} {{ (item.quantity * inventory.price) | number : '1.2-2' }}</span>
                                    </div> -->
                                    <span id="price">{{currencySymbol}} {{ (item.quantity * item.productPrice) | number : '1.2-2' }}</span>
                                </div>
                                <!-- <div class="row" *ngIf="item.productInventory">
                                    <div class="col">
                                        <small class="text-danger">
                                            <span class="badge badge-pill badge-warning" *ngFor="let variant_details of item.productInventory.productInventoryItemList" style="margin-right: 5px;">
                                                {{variant_details.productVariantAvailable.value}}
                                            </span>
                                        </small>
                                    </div>
                                </div> -->
                                <div class="col-12 text-left" *ngIf="item.productInventory">
                                    <small class="text-danger">
                                        <span class="badge badge-pill badge-warning" *ngFor="let variant_details of item.productInventory.productInventoryItemList" style="margin-right: 5px;">
                                            {{variant_details.productVariantAvailable.value}}
                                        </span>
                                    </small>
                                </div>
                                <div class="col-12 text-left" *ngIf="item.specialInstruction">
                                    <small class="text-muted" >Instruction: <strong>{{item.specialInstruction}}</strong></small>
                                </div>
                                <div class="col-12 text-left" *ngIf="item.url">
                                    <!-- <small class="text-muted" >Instruction: <strong>{{item.url}}</strong></small> -->
                                    <img src="{{item.url}}" class="img-thumbnail" alt="..." style="height: 100px; width: 100px;">
                                </div>
                                <div class="col-12">
                                    <hr class="nondotted">
                                </div>
                                
                            </div>

                            <div class="col" *ngIf="cartitemDetailsCount < 1">
                                <div class="alert alert-danger" role="alert">
                                    Cart is Empty!
                                </div>
                            </div>
                            
                            <!-- <div *ngIf="showCountDownTime">
                                {{ showCountDownTime }} <br>
                                <span><small> Delivery charges validity, the delivery charges may changes after the validity expired</small></span>
                            </div> -->
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-1 col-md-1"></div> -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center border border-secondary" id="mobilespacer"
                 style="padding: 10px; background-color: white; border-radius: 15px;">

                    <div *ngIf="store_close; else storeClosed">
                        <ng-container *ngIf="cartitemDetailsCount > 0 ;else emptyCartItem">
                            <!-- Now Its Working! -->
                            <div style="padding: 10px; background-color: #ffe259;">
                                <span style="font-weight: bold;">CONTACT INFORMATION</span>
                            </div>
                            <!-- <div *ngIf="inputError" style="  border-radius: 25px;margin-top:10px;padding: 10px; background-color: #fa6a51c6;">
                                    <span tyle="font-weight: bold;color: #a94442;">{{inputError}}</span>
                                </div> -->

                            <!-- <div class="form-group form-check" *ngIf="allowStorePickup">
                                <br><br>
                                <input type="checkbox" class="form-check-input" id="self_pickup"  [checked]="isSelfPickup" (click)="selfPickup($event)">
                                <label class="form-check-label" for="self_pickup" style="color: black;">I want to pickup from store</label>
                                <br>
                            </div> -->

                            <div class="form-group" *ngIf="allowStorePickup" style="margin-top: 30px;">
                                <label class="custom-switch mt-2">
                                    <input type="checkbox" name="self_pickup" id="self_pickup" class="custom-switch-input" [checked]="isSelfPickup" (click)="selfPickup($event)">
                                    <span class="custom-switch-indicator"></span>
                                    <span class="custom-switch-description">I want to pickup from store</span>
                                </label>
                            </div>
                            
                            <form *ngIf="viewForm; else storePickup" (submit)="initOrder()" style="color: white; text-align: center; padding: 20px;" ngNativeValidate>
                                <input type="email" class="is-invalid" id="email" aria-describedby="emailFeedback" name="userEmail" [(ngModel)]="userEmail" [(value)]="userEmail" placeholder="Email" (focusout)="toRepopulate('userEmail')" required>
                                <div id="emailFeedback" class="invalid-feedback">
                                    {{emailError}}
                                </div>

                                <!-- remove focusout(toRepopulate) in phonenumber field, for future use when API query by phonenumber is ready  -->
                                <input type="text" id="msisdn" name="userMsisdn" aria-describedby="phoneFeedback" [(ngModel)]="userMsisdn" [(value)]="userMsisdn" autocomplete="disabled" placeholder="Phone No" required>
                                <div id="phoneFeedback" class="invalid-feedback">
                                    {{phoneError}}
                                </div>
                                <!-- <div class="alert alert-warning alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                    <small class="text-muted" style="color: #856404 !important; font-size: smaller; font-style: italic;;">
                                        Contact information filled automatically upon entering email for repeated customer
                                    </small>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div> -->
                                <!-- <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="save_future">
                                    <label class="form-check-label" for="save_future" style="color: black;">Save my information for future order</label>
                                </div> -->
                                <div class="form-group">
                                    <label class="custom-switch mt-2">
                                        <!-- <input type="checkbox" name="self_pickup" id="self_pickup" class="custom-switch-input" [checked]="isSelfPickup" (click)="selfPickup($event)"> -->
                                        <input type="checkbox" class="custom-switch-input" id="save_future" name="selsave_futuref_pickup" [checked]="isSaved" (click)="saveInfo($event)">
                                        <span class="custom-switch-indicator"></span>
                                        <span class="custom-switch-description">Save my information for future order</span>
                                    </label>
                                </div>
                                <br>
                                <input type="text" id="name" name="userName" [(ngModel)]="userName" [(value)]="userName" (change)="toValidate()" autocomplete="disabled" placeholder="Full name" required>
                                <br>
                                <br>
                                <textarea name="userAddress" id="address" [(ngModel)]="userAddress" [(value)]="userAddress" (change)="toValidate()" autocomplete="disabled" placeholder="Address" cols="30" rows="4" required></textarea>
                                <br>
                                <input type="text" name="userPostcode" [(ngModel)]="userPostcode" [(value)]="userPostcode" (change)="toValidate()" autocomplete="disabled" placeholder="Postcode" required>
                                <br>
                                <input type="text" name="userCities" [(ngModel)]="userCities" [(value)]="userCities" (change)="toValidate()" autocomplete="disabled" placeholder="Cities" required>
                                <br>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                                        <select name="userState" id="state" [(ngModel)]="userState" [(value)]="userState" (change)="toValidate()" autocomplete="disabled" required>
                                            <option selected="true" disabled="" value="">Choose States</option>
                                            <option *ngFor="let mState of mStates" [value]="mState.name">
                                                {{mState.name}}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                                        <input type="text" name="userCountries" [(ngModel)]="userCountries" [(value)]="userCountries" (change)="toValidate()" autocomplete="disabled" readonly placeholder="Countries" required>
                                    </div>
                                    <!-- <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                                        <select name="userCountries" id="countries" [(ngModel)]="userCountries" [(value)]="userCountries" (change)="toValidate()" autocomplete="disabled" required>
                                            <option selected="selected" disabled="disabled">Countries</option>
                                            <option value="Malaysia">Malaysia</option> -->
                                            <!-- Default value to malaysia in checkout-details.components.ts (this.userCountries) -->
                                            <!-- <option value="Malaysia">Pakistan</option>
                                            <option value="Malaysia">Thailand</option> -->
                                        <!-- </select>
                                    </div> -->
                                </div>
                                <br>
                                <textarea name="customerNotes" id="customerNotes" [(ngModel)]="customerNotes" [(value)]="customerNotes" autocomplete="disabled" placeholder="Leave us a note e.g: Pickup/delivery time or instruction" cols="30" rows="3"></textarea>
                                <!-- <div class="form-group form-check">
                                    <br>
                                    <input type="checkbox" class="form-check-input" id="cust_note"  [checked]="isCustNote" (click)="custNote($event)">
                                    <label class="form-check-label" for="cust_note" style="color: black;">Add Customer Notes</label>
                                    <br>
                                </div>

                                <div *ngIf="isCustNote">
                                    <textarea name="customerNotes" id="customerNotes" [(ngModel)]="customerNotes" [(value)]="customerNotes" autocomplete="disabled" placeholder="Leave us a note e.g: Pickup/delivery time or instruction" cols="30" rows="4"></textarea>
                                </div> -->
        
                                <br>
                                <br>
                                <!-- <button type="button" class="btn btn-danger" style="margin-bottom: 50px;">Daftar</button> -->
                                <!-- <button (click)="goPay($event)" class="btn btn-md col-lg-4 col-md-4 col-xs-12 col-sm-12 btn-success" style="border-radius: 0;">PAY NOW &nbsp;&nbsp;<fa-icon [icon]="iconMoney"></fa-icon></button> -->

                                <!-- <button class="btn btn-md col-lg-4 col-md-4 col-xs-12 col-sm-12 btn-warning" style="border-radius: 0;">MAIN MENU &nbsp;&nbsp;<fa-icon [icon]="iconMoney"></fa-icon></button> -->
                            
                                <!-- <button (click)="checkLah()"></button> -->

                                <div class="row" *ngIf="showProvider">
                                    <div class="col" style="color: black;">
                                        <p>Select your preferred delivery</p>

                                        <div class="row" *ngFor="let provider of providerListing | orderBy: providerName">
                                            <div class="col-4 text-left">{{provider.providerName}}</div>
                                            <div class="col-4">
                                                <img src="{{provider.providerImage}}" class="img-thumbnail" alt="..." style="height: 30px; width: 100px;">
                                            </div>
                                            <div class="col-4">
                                                <!-- <div class="btn-group-toggle" data-toggle="buttons">
                                                    <label class="btn btn-success active" style="border-radius: 50px;">
                                                      <input type="checkbox" checked> Select
                                                    </label>
                                                </div> -->
                                                <!-- <label class="btn btn-secondary active"> -->
                                                    <!-- <input type="radio" name="options" id="{{provider.providerName}}" checked> Select -->
                                                <!-- </label> -->
                                                    <a class="btn btn-success" style="border-radius: 50px" (click)="selectedProvider(provider.providerId)">Select</a>
                                            </div>
                                            <hr class="nondotted">
                                        </div>
                                        
                                        
                                    </div>
                                </div>

                                <div class="alert alert-warning" role="alert" style="margin-top: 20px;">
                                    <div class="row">
                                        <div class="col">
                                            <div class="col text-left">
                                                <span class="subtotal">SUB-TOTAL</span>
                                                <span id="price" style="float: right; padding-right: 38px;">{{currencySymbol}} {{subTotal | number: '1.2-2'}}</span>
                                                <!-- <hr class="dotted"> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="col text-left">
                                                <span class="subtotal">SUB-TOTAL DISCOUNT {{subTotalDiscountDesc}}</span>
                                                <span id="price" style="float: right; padding-right: 38px;">{{currencySymbol}} {{subTotalDiscount | number: '1.2-2'}}</span>
                                                <!-- <hr class="dotted"> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="col text-left">
                                                <span class="subtotal">{{vertical_fees_txt}} ({{storeDeliveryPercentage}}%)</span>
                                                <span id="price" style="float: right; padding-right: 38px;">{{currencySymbol}} {{totalServiceCharges | number: '1.2-2'}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col">
                                            <div class="col text-left">
                                                <span id="price" class="subtotal warning-text">DELIVERY CHARGES</span>
                                                <span id="price" class="warning-text" style="float: right; padding-right: 38px;">{{currencySymbol}} {{deliveryFee | number: '1.2-2'}}</span>
                                                <!-- <hr class="dotted"> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="col text-left">
                                                <span class="subtotal">DELIVERY CHARGES DISCOUNT {{deliveryDiscountDesc}}</span>
                                                <span id="price" style="float: right; padding-right: 38px;">{{currencySymbol}} {{deliveryDiscount | number: '1.2-2'}}</span>
                                                <!-- <hr class="dotted"> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="col text-left text-success">
                                                <span class="subtotal" id="price" style="font-size: 15px;">GRAND TOTAL</span>
                                                <span id="price" style="float: right; padding-right: 38px; font-size: 15px;">{{currencySymbol}} {{totalPrice | number: '1.2-2'}}</span>
                                                <!-- <hr class="dotted"> -->
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div *ngIf="showCounter" style="margin-top: 20px;">
                                        <hr>

                                        <h4 class="alert-heading text-center bolder warning-text">{{ showCountDownTime }}</h4>
                                        
                                        <hr>
                                        <small class="italic">Delivery charges validity, the delivery charges may changes after the validity expired</small>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-md col-lg-6 col-md-6 col-xs-12 col-sm-12 btn-success text-center" [disabled]="payDisable" style="border-radius: 0;">{{btnString}} &nbsp;&nbsp;<fa-icon [icon]="iconMoney"></fa-icon></button>
                                <!-- <button (click)="goSkip($event)" class="btn btn-md col-lg-4 col-md-4 col-xs-12 col-sm-12 btn-success" style="border-radius: 0;">PAY NOW &nbsp;&nbsp;<fa-icon [icon]="iconMoney"></fa-icon></button> -->
                            
                            </form>

                            <ng-template #storePickup>

                                <form (submit)="initOrder()" style="color: white; text-align: center; padding: 20px;" ngNativeValidate>

                                    <input type="email" class="is-invalid" id="email" aria-describedby="emailFeedback" name="userEmail" [(ngModel)]="userEmail" [(value)]="userEmail" placeholder="Email" (focusout)="toRepopulate('userEmail')" required>
                                    <div id="emailFeedback" class="invalid-feedback">
                                        {{emailError}}
                                    </div>
                                    <!-- remove focusout(toRepopulate) in phonenumber field, for future use when API query by phonenumber is ready  -->
                                    <input type="text" id="msisdn" name="userMsisdn" aria-describedby="phoneFeedback" [(ngModel)]="userMsisdn" [(value)]="userMsisdn" autocomplete="disabled" placeholder="Phone No" required>
                                    <div id="phoneFeedback" class="invalid-feedback">
                                        {{phoneError}}
                                    </div>

                                    <input type="text" id="name" name="userName" [(ngModel)]="userName" [(value)]="userName" (change)="toValidate()" autocomplete="disabled" placeholder="Full name" required>

                                    <!-- <br> -->
                                    <textarea name="customerNotes" id="customerNotes" [(ngModel)]="customerNotes" [(value)]="customerNotes" autocomplete="disabled" placeholder="Leave us a note e.g: Pickup/delivery time or instruction" cols="30" rows="3"></textarea>
                                    <br>
                                    <br>

                                    <div class="alert alert-light border" role="alert">
                                        <div class="row">
                                            <div class="col text-left">
                                                <label class="form-check-label" for="save_future" style="color: black;">Store Address</label>
                                                <address>
                                                    {{storeAddress}}<br> 
                                                    {{storePostcode}}, {{storeCity}}<br>
                                                    {{storeState}}, {{userCountries}}.
                                                </address>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col text-left">
                                                <label class="form-check-label" for="save_future" style="color: black;">Contact Us</label>
                                                <address>
                                                    <label>Email:</label>&nbsp;&nbsp;<a href = "mailto: {{storeEmail}}">{{storeEmail}}</a><br> 
                                                    <label>Phone No:</label>&nbsp;&nbsp;{{storePhone}}
                                                </address>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="alert alert-warning" role="alert" style="margin-top: 20px;">
                                        <div class="row">
                                            <div class="col">
                                                <div class="col text-left">
                                                    <span class="subtotal">SUB-TOTAL</span>
                                                    <span id="price" style="float: right; padding-right: 38px;">{{currencySymbol}} {{subTotal | number: '1.2-2'}}</span>
                                                    <!-- <hr class="dotted"> -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="col text-left">
                                                    <span class="subtotal">{{vertical_fees_txt}} ({{storeDeliveryPercentage}}%)</span>
                                                    <span id="price" style="float: right; padding-right: 38px;">{{currencySymbol}} {{totalServiceCharges | number: '1.2-2'}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="col text-left">
                                                    <span id="price" class="subtotal warning-text">DELIVERY CHARGES</span>
                                                    <span id="price" class="warning-text" style="float: right; padding-right: 38px;">{{currencySymbol}} {{deliveryFee | number: '1.2-2'}}</span>
                                                    <!-- <hr class="dotted"> -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="col text-left text-success">
                                                    <span class="subtotal" id="price" style="font-size: 15px;">GRAND TOTAL</span>
                                                    <span id="price" style="float: right; padding-right: 38px; font-size: 15px;">{{currencySymbol}} {{totalPrice | number: '1.2-2'}}</span>
                                                    <!-- <hr class="dotted"> -->
                                                </div>
                                            </div>
                                        </div>

                                    </div>
    
                                    <button type="submit" class="btn btn-md col-lg-6 col-md-6 col-xs-12 col-sm-12 btn-success text-center" style="border-radius: 0;">{{btnString}} &nbsp;&nbsp;<fa-icon [icon]="iconMoney"></fa-icon></button>
                                    <!-- <button (click)="goSkip($event)" class="btn btn-md col-lg-4 col-md-4 col-xs-12 col-sm-12 btn-success" style="border-radius: 0;">PAY NOW &nbsp;&nbsp;<fa-icon [icon]="iconMoney"></fa-icon></button> -->
                                
                                </form>

                            </ng-template>
                        </ng-container>
                        
                    </div>

                    <ng-template #storeClosed>
                        <div class="alert alert-danger" role="alert">
                            <h4 class="alert-heading">We are closed!</h4>
                            <p>We are closed now our opening hours are as per below</p>
                            <hr>
                            <div *ngFor="let timing of storeTimingObj" class="text-center">
                                <span *ngIf="!timing.isOff">{{timing.day}} on <strong>{{timing.openTime}} - {{timing.closeTime}}</strong><br></span>
                            </div>
                            
                            <!-- <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p> -->
                        </div>
                    </ng-template>

                    <ng-template #emptyCartItem>
                        <div class="alert alert-warning" role="alert">
                            <h4 class="alert-heading">Cart is empty!</h4>
                            <p>Please add item to cart to proceed...</p>
                        
                        </div>
                    </ng-template>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="visible">
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" 
    size = "default" 
    color = "#fff" 
    type = "square-jelly-box" 
    [fullScreen] = "true">
        <p style="color: white" > Loading... </p>
    </ngx-spinner>
</div>
