<div class="container-fluid" style="background-color: white;">
	<!-- Top box -->
		<!-- Logo & Site Name -->
		<div class="placeholder parallax" style="background-image: url({{bannerImage}});">
			<div class="parallax-window" data-parallax="scroll">
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">
							<!-- <img src="./assets/image/banner-sample2.jpg" alt="Logo" class="tm-site-logo" />  -->
							<!-- <div class="tm-site-text-box bg-white" style="color: black; border-radius: 25px; padding: 10px;"> -->
								<!-- <h1 class="tm-site-title">{{storeName}}</h1> -->
								<!-- <h6 class="tm-site-description">new restaurant template</h6>	 -->
							<!-- </div> -->
						</div>
						<nav class="col-md-6 col-12 tm-nav">
							<ul class="tm-nav-ul">
								<!-- <li class="tm-nav-li"><a href="index.html" class="tm-nav-link active">Catalogue</a></li> -->
								<!-- <li class="tm-nav-li"><a href="about.html" class="tm-nav-link">About</a></li> -->
								<!-- <li class="tm-nav-li"><a href="contact.html" class="tm-nav-link">Contact</a></li> -->
							</ul>
						</nav>	
					</div>
				</div>
			</div>
		</div>

		<main style="background-color: white; margin-top: 100px;">
            <!-- <div class="row">
                <header class="tm-welcome-section">
                    <h2 class="col-12 text-center tm-section-title">Welcome to <b>{{storeInformation.name}}</b> store</h2>
                </header>
            </div>

            <div class="tm-section tm-container-inner" style="margin-bottom: 100px;">
				<div class="row">
					<div class="col-md-6">
						<figure class="tm-description-figure">
							<img src="{{logoImage}}" alt="Image" class="img-fluid" />
						</figure>
					</div>
					<div class="col-md-6">
						<div class="tm-description-box"> 
							<h4 class="tm-gallery-title"><b>{{storeInformation.name}}</b> online store</h4>
							<p class="tm-mb-45">{{storeInformation.storeDescription}}</p>
							<a href="about.html" class="tm-btn tm-btn-default tm-right">View Catalogue</a>
						</div>
					</div>
				</div>
			</div> -->
			
			
			<!-- <div class="tm-paging-links">
				<nav>
					<ul>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link active">Pizza</a></li>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link">Salad</a></li>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link">Noodle</a></li>
					</ul>
				</nav>
			</div> -->
            <section style="background-color: white; padding-top: 50px;">
                <!-- <div class="row tm-paging-links">
                    <div class="col text-center">
                        <h4>CATEGORIES</h4>
                    </div>
                </div> -->

                <!-- Gallery -->
                <div class="tm-gallery">
                    <!-- gallery page 1 -->
                    <div id="tm-gallery-page-pizza" class="tm-gallery-page">
                        <article *ngFor="let item of categories; let i = index;" class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item figure" style="margin-bottom: 100px;">
                            <figure >
                                <div *ngIf="item.thumbnailUrl != null; else noImage" class="text-center" (click)="goToCategory(item.id)">
                                    <img src="{{item.thumbnailUrl}}" alt="Image" class="img-fluid tm-gallery-img" />
                                </div>

                                <ng-template #noImage>
                                    <div class="text-center">
                                        <img src="{{logoImage}}" (click)="goToCategory(item.id)" alt="Image" class="img-fluid tm-gallery-img" />
                                    </div>
                                </ng-template>
                                
                                <figcaption>
                                    <div *ngIf="item.name; else noTitle" class="text-center">
                                        <h4 (click)="goToCategory(item.id)" class="tm-gallery-title" style="font-weight: bolder;">{{item.name}}</h4>
                                    </div>
                                    
                                    <ng-template #noTitle>
                                        <div class="text-center">
                                            <h4 (click)="goToCategory(item.id)" class="tm-gallery-title" style="font-weight: bolder;">No Title</h4>
                                        </div>
                                    </ng-template>
                                    <!-- <p class="tm-gallery-description">No category description</p> -->
                                    <!-- <a href="about.html" class="tm-btn tm-btn-default">View Product</a> -->
                                </figcaption>
                            </figure>
                        </article>
                    </div> <!-- gallery page 1 -->
                </div>

            </section>
		</main>

		<footer class="tm-footer text-center" style="background-color: #FFE45C;">
			<p>Registered &reg; 2021 <strong>{{storeName}}.symplified.store</strong></p>
		</footer>
	</div>