<!-- <div class="container">
    <div class="row">
        <img
            class="w-50"
            src="./assets/image/paid.jpg"
            alt="First slide"
            style="padding-top: 50px;padding-left: 50px;"
            />
    </div>
</div> -->

<section class="cover-div">
    <div class="jumbotron text-center" style="background-color: #FFF7EB;">

        <!-- desktop  -->
        <section id="success" *ngIf="successPay; else failedPay">
            <div class="d-none d-sm-none d-md-none d-lg-block">
                <h1 class="display-4" style="font-weight: bold;">Thank You!</h1>
            </div>
    
            <div class="d-block d-sm-block d-md-none d-lg-none" style="padding-bottom: 20px;">
                <h1 class="display-6" style="font-weight: bold;">Thank You!</h1>
            </div>
            
            <p class="lead"><strong>Please check your email</strong> for your payment receipt.</p>
            <hr>
            
            <!-- <br> -->
            <p class="lead">Your order are on its way!</p>
        </section>
        
        <ng-template #failedPay>

            <div class="d-none d-sm-none d-md-none d-lg-block">
                <h1 class="display-4" style="font-weight: bold;">Ops, Order Failed!</h1>
            </div>
    
            <div class="d-block d-sm-block d-md-none d-lg-none" style="padding-bottom: 20px;">
                <h1 class="display-6" style="font-weight: bold;">Ops, Order Failed!</h1>
            </div>
            
            <p class="lead">{{failed_msg}}</p>
            <hr>
            
            <!-- <br> -->
            <!-- <p class="lead">Your order are on its way!</p> -->

        </ng-template>
        

        <!-- desktop  -->
        <div class="d-none d-sm-none d-md-none d-lg-block">
            <img *ngIf="logoExist;else defaultImage" 
                class=""
                src="{{assets['logoUrl']}}"
                alt="First slide"
                style="width: 100%; height: auto; padding: 10px;"
            />

            <ng-template #defaultImage>
                <img 
                class=""
                src="./assets/image/delivery.jpg"
                alt="First slide"
                style="width: 40%; height: auto; padding: 10px;"
                />
            </ng-template>
            <br>
            <br>
        </div>

        <div class="d-block d-sm-block d-md-none d-lg-none" style="padding-bottom: 20px;">
            <img *ngIf="logoExist; else defaultImageMobile"
                class=""
                src="{{assets['logoUrl']}}"
                alt="First slide"
                style="width: 100%; height: auto; padding: 10px;"
            />
            <ng-template #defaultImageMobile>
                <img 
                class=""
                src="./assets/image/delivery.jpg"
                alt="First slide"
                style="width: 100%; height: auto; padding: 10px;"
                />
            </ng-template>
            <br>
            <br>
        </div>

        <section id="success" *ngIf="successPay; else checkoutAgain">
            <p class="lead">
                <a (click)="shopAgain()" class="btn btn-warning btn-sm" role="button">Shop Again?</a>
            </p>
        </section>

        <ng-template #checkoutAgain>
            <p class="lead">
                <a (click)="backToCheckout()" class="btn btn-warning btn-sm" role="button">Back to Checkout</a>
            </p>
        </ng-template>
        
        

        <!-- <br> -->
        <!-- <p class="lead">
            Any Feedback? &nbsp;<a class="btn btn-warning btn-sm" role="button">Email Us</a>
        </p> -->
    </div>
</section>
