
<!-- <header class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1076');">
</header> -->

<div class="jumbotron jumbotron-fluid bg-image-full">
    <div class="container">
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h3>Stepper</h3>
        </div>
    </div>
    <div class="row">
        <div class="col text-center bg-primary">hello</div>
        <div class="col text-center bg-success">two</div>
        <div class="col text-center bg-danger">three</div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <div class="scrollmenu">
                <div style="
                    display: inline-block;
                    color: white;
                    text-align: center;
                    padding: 14px;
                    text-decoration: none;
                ">
                    test
                </div>
                <a href="#home">Home</a>
                <a href="#news">News</a>
                <a href="#contact">Contact</a>
                <a href="#about">About</a>
                <a href="#support">Support</a>
                <a href="#home">Home</a>
                <a href="#news">News</a>
                <a href="#contact">Contact</a>
                <a href="#about">About</a>
                <a href="#support">Support</a>
                <a href="#home">Home</a>
                <a href="#news">News</a>
                <a href="#contact">Contact</a>
                <a href="#about">About</a>
                <a href="#support">Support</a>
            </div>
        </div>
    </div>
</div>

