.bg-image-full {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 150px;
    background-image: url('/assets/image/banner-sample6.jpg');
}


/* stepper */
.color-block {
    width: 100px;
    height: 20px;
    margin: 0 6px 20px;
  }

/* slider */
.demo-border {
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    border: 1px solid;
    border-color: #CFCFCF;
    margin-bottom: 20px;
  }

#category-section{
    padding-top: 40px;
}

.category{
    width: 150px;
    /* background-color: #f9f9f9; */
    color: #333;
    font-weight: bold;
    
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    /* background-image: url('/assets/image/banner-sample4.jpg'); */
}

/* div#test div:first-child {margin-left: 50px;} */

/* .category > div:first-child {
    margin-right: 50px;
  } */

.category:hover{
    background-color: #cccccc;
    background-blend-mode: multiply;
    cursor: pointer;
}

drag-scroll-item{
    -ms-overflow-style: none !important; 
    scrollbar-width: none !important;
    overflow-x: hidden !important;
}

drag-scroll-item::-webkit-scrollbar {
    /* display: none !important; */
    width: 2px !important;
}

drag-scroll-item::-webkit-scrollbar-track {
    background: orange;
  }

/*Mobile Section*/
@media (max-width: 767px) {
    .bg-image-full {
        height: 100px;
    }

}



/* stepper test */
.breadcrumbs {
    display: inline-block;
    /* margin: 150px 0; */
    counter-reset: flag;
    color: black;
    box-shadow: 0 0 2px #aaa;
}

.breadcrumbs a {
    position: relative;
    float: left;
    padding-left: 60px;
    padding-right: 10px;
    text-decoration: none;
    line-height: 36px;
    color: black;
    background: white;
    transition: all 0.5s;
}

.breadcrumbs a::after {
    content: '';
    position: absolute;
    top: 0;
    right: -18px;
    z-index: 1;
    width: 36px;
    height: 36px;
    background: white;
    box-shadow: 1px 1px 0 1px #ddd;
    border-radius: 50px 0 0 0;
    transform: rotate(-45deg) scale(0.73);
    transition: all 0.5s;
}

/* .breadcrumbs a:hover, */
/* .breadcrumbs a:hover::after, */
.breadcrumbs a.active,
.breadcrumbs a.active::after{
    background: #f1c40f;
}

.breadcrumbs a::before {
    content: counter(flag);
    counter-increment: flag;
    position: absolute;
    top: 8px;
    left: 30px;
    line-height: 20px;
    box-shadow: 0 0 2px #ccc;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
}

.breadcrumbs a:first-child {
    padding-left: 46px;
}

.breadcrumbs a:first-child::before {
    left: 14px;
}