.bg-image-full {
    background: no-repeat center center scroll;
    /* background: no-repeat; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    
    height: 150px;
    /* background-image: url('/assets/image/banner-sample9.jpg'); */
    /* background-color: #FFF7EB; */
    /* border: 0.1px solid black; */
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.jumbotron {
    margin-bottom: 0rem !important;
}

.discount_type:hover{
    cursor: pointer;

    background: url('/assets/image/banner2.jpg'), linear-gradient(#FFFCEB, white) !important;
	/*background: url('../img/quran.png'), linear-gradient(#eb01a5, #d13531);*/
  	/* background-position: center center; */
  	/* background-repeat: no-repeat; */
  	background-size: contain !important;
  	opacity: 1;

  	background-blend-mode: multiply;
}

.centered {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

/* .carousel-indicators > li {
    border-radius: 50%;
  } */

  /* .carousel-control-right{
    left: auto;
    right: 0;
    background-image: linear-gradient(
    90deg,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5));
    background-repeat: repeat-x;
  } */



/* FB TEMPLATE  */

    .bg_banner{
        background-color: #FFE45C; 
        padding-bottom: 130px;
    }

  .fb-profile-block {
    margin: auto;
    position: relative;
    width: 100%;
  }
  /* .cover-container{
      background: #1E90FF;
      background: -webkit-radial-gradient(bottom, #73D6F5 12%, #1E90FF);
      background: radial-gradient(at bottom, #73D6F5 12%, #1E90FF) 
  } */
  .fb-profile-block-thumb{
    display: block;
    height: 250px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
  }
  .fb-profile-block-menu {
    border: 1px solid #d3d6db;
    border-radius: 0 0 3px 3px;
  }
  .profile-img a{
      bottom: -125px;
      box-shadow: none;
      display: block;
      left: 35px;
      padding:1px;
      position: absolute;
      height: 160px;
      width: 160px; 
      /* background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0; */
      z-index:9;
  }
  .profile-img img {
    background-color: #FFE45C;
    border-radius: 2px;
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07); */
    height:160px;
    padding: 5px;
    width:160px;
    /* border: 1px solid white; */
    
  }

  #store_desc{
    color: black;
    position: relative;
    padding-left: 20px !important;
    /* margi */
    font-size: 12px;
  }

  .profile-name {
    /* bottom: 60px; */
    left: 200px;
    position: absolute;
  }
  .profile-name h2 {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    padding-left: 20px;
    /* max-width: 275px; */
    position: relative;
    /* text-transform: uppercase; */
    top: 15px;
    color: black;
    font-weight: bolder;
  }

  .profile-name small {
    color: #fff;
    /* font-size: 22px; */
    /* font-weight: 600; */
    /* line-height: 30px; */
    /* padding-left: 30px !important; */
    left: 20px !important;
    /* max-width: 275px; */
    position: relative;
    /* text-transform: uppercase; */
    /* top: 15px; */
    color: black;
    /* font-weight: bolder; */
  }

  .fb-profile-block-menu{
    height: 44px;
    position: relative;
    width:100%;
    overflow:hidden;
   }
  .block-menu {
    clear: right;
    padding-left: 205px;
  }
  .block-menu ul{
      margin:0;
      padding:0;
  }
  .block-menu ul li{
      display:inline-block;
  }
  .block-menu ul li a {
    border-right: 1px solid #e9eaed;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 42px;
    line-height: 3.0;
    padding: 0 17px;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    color:#4b4f56;
    text-transform:capitalize;
  }
  .block-menu ul li:first-child a{
    border-left: 1px solid #e9eaed;
  }


  /*Mobile Section*/
@media (max-width: 767px) {
    .profile-img img {
        height:100px !important;
        width:100px !important;
      }

    .profile-name {
        /* bottom: 60px; */
        left: 135px !important;
        /* position: absolute; */
      }

    .profile-name h2 {
        font-size: 17px !important;

      }

    .fb-profile-block-thumb{
        height: 120px !important;
      }

    .bg_banner{
        padding-bottom: 75px !important;
    }
}