.bg-image-full {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 150px;
    background-image: url('/assets/image/banner-sample6.jpg');
    /* background-color: #FFF7EB; */
}

.jumbotron {
    margin-bottom: 0rem !important;
}

/*Mobile Section*/
@media (max-width: 767px) {

}