
<!-- Modal -->

<!-- Desktop & Tablet view -->

<div class="modal fade" id="modalCart" tabindex="-1" role="dialog" aria-labelledby="modalCart" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Cart List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="scrollable3">
                
                <!-- Destop/Tablet Layout -->
                <!-- <div class="d-none d-sm-none d-md-block d-lg-block d-xl-block" style="padding-top: 30px; padding-bottom: 30px;">
                    <div class="card" style="margin-bottom: 10px;" *ngFor="let item of cartList; let i = index;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-1">
                                    <span>{{ i + 1 }}.&nbsp;</span>
                                </div>
                                <div class="col-4 text-left">
                                    <span style="font-weight: bold; font-size: 13px;">{{item.title | uppercase }}</span>
                                </div>
                                <div class="col-3 text-center">
                                    <span>
                                        <fa-icon [icon]="iconMinus" class="qtyIcon"></fa-icon>
                                    </span>
                                    <span style="margin-left: 20px; margin-right: 20px;">{{item.quantity}}</span>
                                    <span>
                                        <fa-icon [icon]="iconAdd" class="qtyIcon"></fa-icon>
                                    </span>
                                </div>
                                <div class="col-3 text-center">
                                    <span id="price">RM {{item.quantity*item.unitprice | number : '1.2'}}</span>
                                </div>
                                <div class="col-1 text-right">
                                    <button type="button" class="close" aria-label="Close">
                                        <span aria-hidden="true"><fa-icon [icon]="iconTrash" class="iconStyle"></fa-icon></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->

                <div class="d-none d-sm-none d-md-block d-lg-block d-xl-block" style="padding-top: 30px; padding-bottom: 30px;">
                    <div class="card hover" style="margin-bottom: 10px; border-color: #ffe259;" *ngFor="let item of cartitemDetails; let i = index;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-1">
                                    <span>{{ i + 1 }}.&nbsp;</span>
                                </div>
                                <div class="col-4 text-left">
                                    <span style="font-weight: bold; font-size: 13px;">{{item.productId | uppercase }}</span>
                                </div>
                                <div class="col-3 text-center">
                                    <span>
                                        <fa-icon [icon]="iconMinus" class="qtyIcon"></fa-icon>
                                    </span>
                                    <span style="margin-left: 20px; margin-right: 20px;">{{item.quantity}}</span>
                                    <span>
                                        <fa-icon [icon]="iconAdd" class="qtyIcon"></fa-icon>
                                    </span>
                                </div>
                                <div class="col-3 text-center">
                                    <span id="price">RM 10.00</span>
                                    <!-- <span id="price">RM {{item.quantity*item.unitprice | number : '1.2-2'}}</span> -->
                                </div>
                                <div class="col-1 text-right">
                                    <button type="button" class="close" aria-label="Close">
                                        <span (click)="deleteItem(item.id, item.productId)" aria-hidden="true"><fa-icon [icon]="iconTrash" class="iconStyle"></fa-icon></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Mobile Layout -->
                <!-- <div class="d-block d-sm-block d-md-none d-lg-none d-xl-none">
                    <div class="card" style="margin-bottom: 10px;" *ngFor="let item of cartList; let i = index;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-1">
                                    <span>{{ i + 1 }}.&nbsp;</span>
                                </div>
                                <div class="col-4 text-left">
                                    <span style="font-weight: bold; font-size: 13px;">{{item.title | uppercase }}</span>
                                </div>
                                <div class="col-3 text-center">
                                    <span>
                                        <fa-icon [icon]="iconMinus" class="qtyIcon"></fa-icon>
                                    </span>
                                    <span style="margin-left: 20px; margin-right: 20px;">{{item.quantity}}</span>
                                    <span>
                                        <fa-icon [icon]="iconAdd" class="qtyIcon"></fa-icon>
                                    </span>
                                </div>
                                <div class="col-3 text-center">
                                    <span id="price">RM {{item.quantity*item.unitprice | number : '1.2'}}</span>
                                </div>
                                <div class="col-1 text-right">
                                    <button type="button" class="close" aria-label="Close">
                                        <span aria-hidden="true"><fa-icon [icon]="iconTrash" class="iconStyle"></fa-icon></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->

                <div class="d-block d-sm-block d-md-none d-lg-none d-xl-none">
                    <div class="card" style="margin-bottom: 10px;" *ngFor="let item of cartitemDetails; let i = index;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-1">
                                    <span style="font-size: 10px;">{{ i + 1 }}&nbsp;</span>
                                </div>
                                <div class="col-4 text-left">
                                    <span style="font-weight: bold; font-size: 10px;">{{item.productId | uppercase }}</span>
                                </div>
                                <div class="col-3 text-center">
                                    <span>
                                        <fa-icon [icon]="iconMinus" class="qtyIcon"></fa-icon>
                                    </span>
                                    <span style="margin-left: 20px; margin-right: 20px;">{{item.quantity}}</span>
                                    <span>
                                        <fa-icon [icon]="iconAdd" class="qtyIcon"></fa-icon>
                                    </span>
                                </div>
                                <div class="col-3 text-center">
                                    <span id="price" style="font-size: 12px;">RM 10.00</span>
                                    <!-- <span id="price">RM {{item.quantity*item.unitprice | number : '1.2'}}</span> -->
                                </div>
                                <div class="col-1 text-right">
                                    <button type="button" class="close" aria-label="Close">
                                        <span aria-hidden="true"><fa-icon [icon]="iconTrash" class="iconStyle"></fa-icon></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Clear cart</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Back</button>
            </div>
        </div>
    </div>
</div>
